---
import "../styles/global.css";
import RoomDashboard from "@/components/RoomDashboard";

const BASE_PORT = 80; // default http port, can change for testing
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>CDoOSSOC</title>
    </head>

    <body>
        <h1 class="text-center text-4xl pt-12 pb-8 bg-red-400 text-white font-semibold">
            Dashboard
        </h1>
        <RoomDashboard client:load serverPort={BASE_PORT} />
    </body>
</html>
